html, body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  color: #fff;
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #0D001E;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper::before {
  content: '';
  background: url('../images/left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14em;
  height: 12em;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-4em, -2em);
  z-index: -1;
}

.wrapper::after {
  content: '';
  background: url('../images/rigth.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14em;
  height: 12em;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(4em, -2em);
  z-index: -1;
}

.header {
  padding-top: 1em;
}

.logo {
  background: url('../images/logo.png');
  width: 100%;
  height: 5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headline {
}

h1 {
  text-align: center;
  font-size: 3em;
}

.content {
  /* display: flex; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat( auto-fit, minmax(19em, 1fr) );
  padding: 2em;
}


.card {
  width: 16em;
  height: 16em;
  margin: 1em auto;
  border-radius: 20px;
  position: relative;

  transition: all .1s ease-out;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
} 

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform:scale(1.2);

  transition: all .1s ease-out;
} 

.card__detail {
  visibility: hidden;
  opacity: 0;
  background-color: rgb(13 0 30 / 50%);
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all .1s ease-out;
}

.card__detail h3 {
  margin: 0.5em 0;
  font-size: 1.5em;
}

.card__detail span {
  font-weight: 600;
}

.card__detail .button {
  background: linear-gradient(281.23deg, #6F0018 -54.09%, #DE0030 71.11%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 8em;
  height: 3em;
  border-radius: 20px;
  border: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

/* animation */
.card:hover {
  transform: scale(1.2);
  transition: all .255s ease-out;
}

.card:hover .card__image img{
  transform:scale(1.1);
  transition: all .255s ease-out;
}

.card:hover .card__detail {
  display: flex;
  visibility: visible;
  opacity: 1;
  /* transform: scale(.7); */
  transition: all .255s ease-out;
}

.footer {
  height: 4em;
  padding: 1em 1em 4em;
}

.sponsors {
  background: url('../images/sponsors.png');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Modal */
.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(13 0 30 / 50%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

/* Spinner */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
