html,
body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  color: #fff;
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #0d001e !important;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2335244b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
  background-attachment: fixed;
  font-family: "Mulish", sans-serif;
}

.header {
  padding: 2em;
}

.logo {
  background: url("../images/logo.webp");
  width: 100%;
  height: 8em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper::before {
  content: "";
  background: url("../images/left.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14em;
  height: 12em;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-4em, -2em);
  z-index: -1;
}

.wrapper .bottom::before {
  content: "";
  background: url("../images/left.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18.66em;
  height: 16em;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-45deg) translate(-4em, 0em);
  z-index: -1;
}

.wrapper::after {
  content: "";
  background: url("../images/rigth.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14em;
  height: 12em;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(4em, -2em);
  z-index: -1;
}

.wrapper .bottom::after {
  content: "";
  background: url("../images/rigth.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18.66em;
  height: 16em;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(45deg) translate(4em, 0em);
  z-index: -1;
}

.heading::after {
  content: "";
  position: absolute;
}

.headline {
  margin-bottom: 3em;
}

.headline h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(8em, 11em));
  padding: 1em;
  margin-bottom: 4em;
}

.form_header {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.card {
  width: 10em;
  height: 10em;
  margin: 1em auto;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease-out;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);

  transition: all 0.1s ease-out;
}

.card__detail {
  visibility: visible;
  opacity: 1;
  background-color: rgb(13 0 30 / 50%);
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.1s ease-out;
}

.card__detail h3 {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__detail span {
  font-weight: 600;
}

.card__detail .button {
  background: linear-gradient(281.23deg, #6f0018 -54.09%, #de0030 71.11%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 8em;
  height: 3em;
  border-radius: 20px;
  border: none;
  margin-top: 1em;
  position: absolute;
  bottom: 0.6em;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

/* animation */
.card:hover {
  transform: scale(1.2);
  transition: all 0.255s ease-out;
}

.card:hover .card__image img {
  transform: scale(1.1);
  transition: all 0.255s ease-out;
}

.card:hover .card__detail {
  display: flex;
  visibility: visible;
  opacity: 1;
  /* transform: scale(.7); */
  transition: all 0.255s ease-out;
}

.footer {
  height: 4em;
  padding: 1em 1em 4em;
}

.sponsors {
  background: url("../images/sponsors.webp");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Modal */
.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(13 0 30 / 50%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

/* Spinner */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
